@page
@model Traslado_Seguro.Pages.STransportes.CreateModel
@{
    ViewData["Title"] = "Create";

}
<h1>Create</h1>

<h4>Transporte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Transporte.Fecha" class="control-label"></label>
                <input asp-for="Transporte.Fecha" class="form-control"/>
                <span asp-validation-for="Transporte.Fecha"class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transporte.NomConductor" class="control-label"></label>
                <input asp-for="Transporte.NomConductor" class="form-control"/>
                <span asp-validation-for="Transporte.NomConductor"class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Transporte.NomCliente" class="control-label"></label>
                <input asp-for="Transporte.NomCliente" class="form-control" />
                <span asp-validation-for="Transporte.NomCliente" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create"class="btn btn-success"/>
                <a asp-page="Index" class="btn btn-primary">Back to list </a>

            </div>
        </form>
    </div>
</div>
